{% extends "basenotes.html" %}
{% load i18n %}
{% block content %}
<h3>{% trans "Here is a list of all your notes" %}</h3>
{% if notes %}
<table id="notes">
<thead>
    <tr><th>{% trans "title" %}</th><th>{% trans "actions" %}</th></tr>
</thead>
<tbody>
{% for note in notes %}
<tr class="{% cycle "even" "odd" %}">
    <td><a href='{% url notes:show note.get_id %}'>{{note.title}} </a></td>
    <td>
        <a href='{% url notes:show note.get_id %}'> {% trans "show" %} </a> - 
        <a href='{% url notes:edit note.get_id %}'> {% trans "edit" %}</a> -             
        <a href='{% url notes:delete note.get_id %}'> {% trans "delete" %}</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
{% trans "there's no notes, yet." %}    
{% endif %}
{% endblock %}
