{% extends "basenotes.html" %}
{% load i18n %}
{% block content %}
<h2>{{ note.title }}</h2>
{% if note.tags %}
<ul class="tags">
{% for tag in note.tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>
{% endif %}
<div id="note" class="span-18">
    <p> {{note.content|safe}} </p>
</div>
{% endblock %}

{% block submenuitems %}
<li><a href="{% url notes:edit note.get_id %}">{% trans "edit this note" %}</a></li>
<li><a href="{% url notes:delete note.get_id %}">{% trans "delete this note" %}</a></li>
{% endblock %}

{% if has_revisions %}
{% block menufooter %}
<h3> {% trans "Versions" %}</h3>
<p class="small">{% trans "There is different version of your document, and you can browse them here" %}:</p>
<ul>
{% for revision in revisions %}
    <li><a href="{% url notes:show note.get_id revision %}">{{ revision }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% endif %}

